@CHARSET "UTF-8";
body{
    font-family: "Helvetica", Arial, sans-serif;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    flex: 1 100%;
}

.aside_left {
    text-align: left;
}

.aside_right {
    text-align: left;
}

.section {
    text-align: left;
    with: 100%
}

.images {
    display: block;
    min-width: 605px;
}

.badge {
    background-color: lightskyblue;
    font-size: 0.8em;
    border: 1px antiquewhite solid;
    border-radius: 4px;
    padding: 2px;
}

.description {
    font-size: 0.8em;
    padding: 3px;
    display: block;
    white-space: nowrap;
}

.description span {
    margin-top: 2px;
    margin-right: 5px;
}

.image {
    display: inline-block;
    margin: 1px;
    padding: 2px;
    border: 1px solid ghostwhite;
    border-radius: 3px;
    max-width: 300px;
}

.article {
    text-align: left;
}

header {
    background: rgb(180, 180, 180);
    color: white;
}

header a {

    text-decoration: none;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 2.2em;
    font-color: blue;
}
 header a:visited{
     font-color: blue;
 }

.headline {
    display: block;
    margin: auto 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    height: 103px;
}

.logo {
    background: url('../logo/logo_isithombe.png') no-repeat;
    min-height: 103px;
    min-width: 126px;
}

footer {
    background: #aaa;
    color: white;
}

img {
    max-width: 300px;
}

img.wrap {
    margin: 0px;
    margin-bottom: 10px;
}

img.align-left {
    float: left;
    margin-right: 30px;
}

.OptSize {
    float: left;
    width: 100%;
}

.nav-placeholder{
    width: 160px;
    height: 100%;
}
.nav {
    position: fixed;
    background: #eee;
    float: left;
    width: 150px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

.nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav li a.active {
    background-color: #4CAF50;
    color: white;
}

.nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


@media all and (min-width: 768px) {
    .nav {
        max-width: 100px;
        text-align: left;
        flex: 1 auto;
        order: 1;
    }

    .aside_left {
        flex: 1 auto;
        order: 2;
    }

    .aside_right {
        flex: 1 auto;
        order: 5;
    }

    .section {
        flex: 5 0px;
        order: 3;
    }

    .article {
        flex: 5 0px;
        order: 3;
    }

    footer {
        order: 6;
    }
}