@CHARSET "UTF-8";

body {
  font: 15px Helvetica, sans-serif; 
}

.logo {
  background: url('logo/logo_isithombe.png') no-repeat;
  min-height: 103px;
  min-width: 126px;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

.flex-container>* {
	padding: 15px;
	flex: 1 100%;
}

.aside_left {
	text-align: left;
}

.aside_right {
	text-align: left;
}

.section {
	text-align: left;
}

.article {
	text-align: left;
}

header {
  border-radius: 3px;
	background: linear-gradient(to left, rgba(71,71,71, 0.6), rgba(180,180,180, 1));
	color: white;
}
header span {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  margin-top: 40px;
  font-weight: bold;
  font-size: 2.5em;

}

footer {
	background: #aaa;
	color: white;
}

.nav {
	background: #eee;
}

.nav ul {
	list-style-type: none;
	padding: 0;
}

.nav ul a {
	text-decoration: none;
}

@media all and (min-width: 768px) {
	.nav {
		max-width: 100px;
		text-align: left;
		flex: 1 auto;
		order: 1;
	}
	.aside_left {
		flex: 1 auto;
		order: 2;
	}
	.aside_right {
		flex: 1 auto;
		order: 5;
	}
	.section {
		flex: 5 0px;
		order: 3;
	}
	.article {
		flex: 5 0px;
		order: 3;
	}
	footer {
		order: 6;
	}
}
